Source: raspberry-pi2
Section: boards
XBSC-Family: linux
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: raspberry-pi2
Section: boards
Architecture: all
Depends: linux
XBSC-Group: Raspberry
XBSC-Subgroup: 
Description: Raspberry Pi Model 2



